@font-face {
  font-family: 'Lucida Grande New';
  src: url('./fonts/LUCIDAGRANDENEW.woff') format('woff');
}

@font-face {
  font-family: 'Mako';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Mako-Regular.woff') format('woff');
}

.form {
  border-radius: 20px;
  font-size: 14px;
  background-color: white;
  background-position: center;
  align-items: center;
  font-family: 'Mako';
  margin: auto;
  width: 28%;
  padding: 10px;
}

.form-image {
  padding-bottom: 20px;
  align-items: center;
  height: 140px;
  display: block;
  margin: auto;
}

.form-header {
  font-family: 'Mako';
  font-size: 30px;
  color: #312547;
  margin: 12px 16px 12px 36px;
  padding: 24px 0px 24px 0px;
  text-align: center;
}

.form-header-group {
  font-family: 'Mako';
  font-size: 24px;
  color: #312547;
  box-sizing: border-box;
  margin: 12px 16px 12px 36px;
  padding: 24px 0px 24px 0px;
  text-align: left;
}

.form-line {
  width: 100%;
  margin: 6px 0px;
  /* top | right | bottom | left */
  padding: 6px 36px;
  display: inline-flex;
}

.form-line-label {
  color: #555555;
  font-size: 14px;
  font-family: 'Mako';
  font-weight: bold;
  margin: 0px 0px 9px;
  padding: 5px;
  width: 194px;
  height: 19px;
}

.form-checkbox-item {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 2px;
  float: left;
}

.form-line-checkbox {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 36px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin: 6px 0;
  width: 100%;
}

.form-line-checkbox-acknowledge {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 25px 0px;
}

.form-radio-item {
  clear: left;
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 0px !important;
  padding-left: 2px;
  margin-top: 0;
  margin-bottom: 6px;
  float: left;
}

.form-single-column {
  width: 100%;
  display: flex;
  align-items: flex-start !important;
}

.form-textbox {
  background: #FFFFFF;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px #eee inset;
  color: black !important;
  padding: 4px 3px 2px 3px;
  border-color: #67587f;
  border-radius: 6px;
  font-size: 1em;
  line-height: 20px;
}

.form-sublabel {
  font-size: 11px;
  font-family: 'Mako' sans-serif;
  font-weight: bold;
  color: #6f6f6f;
  margin: 3px 0px 3px 3px;
}

.form-sublabel-bottom {
  font-size: 11px;
  font-weight: lighter !important;
  font-family: 'Mako' sans-serif;
  font-weight: bold;
  color: #6F6F6F;
  margin: 3px 0px 3px 3px;
}

.form-input-subcontainer {
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

.form-reagent {
  border: 0.5px solid whitesmoke;
  width: 90%;
  margin: auto;
}

.form-signature {
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: 400px;
  touch-action: none;
}

.dental-procedure-pdf {
  display: flex;
  justify-content: center;
  border: 3px solid gray
}

.btn {
  border: none;
  background-color: inherit;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}

.form-submit-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16px;
  border-radius: 8px;
}

.form-submit-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn:hover {background: #eee;}

.error {
  border-color: red;
  color: red;
}

.main {
  padding: 50px;
  background-color: #4d4d4d;
  align-items: center;
}